<div class="container-fluid h-100">
  <div class="container pt-3 h-100">
    <div class="col h-100">
      <div
        class="row-3 d-flex flex-column justify-content-center align-items-center"
        style="background-color: #1e2125"
      >
        <h1 class="text-center text-white pt-3">KIET Group Of Institutions</h1>
        <h4 class="text-center text-white pt-2 m-0">Subject</h4>

        <div class="d-flex justify-content-between p-3 w-100">
          <div class="p-2">
            <input type="text" name="" id="" />
          </div>
          <div class="input-group my-2 w-50">
            <label class="input-group-text" for="courses">Exam</label>
            <select
              class="form-select criteria-btn"
              ng-change="getChild(selectedParent)"
              ng-model="selectedParent"
              ng-options="option.id as option.name for option in options"
            >
              <option value="" selected>Select Exam</option>
            </select>
          </div>
          <div class="input-group my-2">
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>
      <div
        class="row-9 h-75 d-flex overflow-auto"
        style="background-color: #252f3e"
      ></div>
    </div>
  </div>
</div>
