<section class="h-100 bg-dark">
  <div class="container h-100">
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-0-md-2">
        <div class="card bg-trasparent shadow-lg p-3 bg-body-tertiary rounded">
          <div class="row g-0">
           
              <!-- <form
                class="row rounded-5 g-0"
                ng-submit="register()"
                name="registerForm"
                enctype="multipart/form-data"
              > -->
              <h4
                  class="text-center mb-5 text-uppercase"
                  style="color: rgb(82, 12, 49) !important"
                >
                 Add new quizz
                </h4>
                <div class="card text-bg-light mb-3" >
                  <div class="card-header">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  </div>
                  <div class="card-body">
                  <form action="">

                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Enter here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Write questions content...</label>
                    </div>
                  </form>
                  </div>
                
                 
                </div>

                
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name@example.com"
                      />
                      <label for="floatingInput">Maximum marks</label>
                    </div>
                  </div>
                  <div class="col-md-6"></div>
                </div> -->
              <!-- </form> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
