<section class="vh-100" style="background-color: #1e2125">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div
              class="col-md-6 col-lg-5 d-none d-md-block d-flex justify-content-center align-items-center"
            >
              <img
                src="/Portal_app/media/login.svg"
                alt="login form"
                class="img-fluid mt-5"
              />
            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div
                class="card-body p-4 p-lg-5 text-black"
                id="login-form"
                ng-show="!show"
              >
                <div
                  class="d-flex justify-content-center align-items-center mb-3 pb-1"
                >
                  <span class="h1 fw-bold mb-0">EduSyncity</span>
                </div>

                <h5 class="d-flex justify-content-center fw-normal mb-3 pb-3">
                  Sign into your account
                </h5>

                <form name="loginForm" ng-submit="login()">
                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="username"
                        id="username"
                        class="form-control form-control-lg"
                        ng-model="username"
                        name="username"
                        placeholder="username"
                        required
                      />
                      <label for="username">Username or Email</label>
                    </div>

                    <div
                      class="text-danger"
                      ng-if="loginForm.username.$dirty && loginForm.username.$invalid"
                      style="font-size: 14px"
                    >
                      <span ng-if="loginForm.username.$error.required">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; username
                        is required.
                      </span>
                      <span ng-if="loginForm.username.$error.username">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        username format.
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="password"
                        id="password"
                        class="form-control form-control-lg"
                        ng-model="password"
                        name="password"
                        placeholder="password"
                        required
                      />
                      <label for="password">Password</label>
                    </div>

                    <div
                      class="text-danger"
                      ng-if="loginForm.password.$dirty && loginForm.password.$invalid"
                      style="font-size: 14px"
                    >
                      <span ng-if="loginForm.password.$error.required">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Password
                        is required.
                      </span>
                      <span ng-if="loginForm.password.$error.password">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        password format.
                      </span>
                    </div>
                  </div>

                  <div class="pt-1 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">
                      Login
                    </button>
                  </div>
                </form>

                <div class="mb-2 d-flex justify-content-center text-muted">
                  <button class="btn" ng-click="showForm()">
                    Forgot password?
                  </button>
                </div>

                <div
                  class="d-flex justify-content-center align-items-center text-center"
                >
                  <a
                    href="https://www.kiet.edu/disclaimers-and-policies"
                    class="small text-muted"
                    >Terms of use.</a
                  >
                  <br />
                  &nbsp;&nbsp;
                  <a
                    href="https://tech.kiet.edu/privacy_policy/kietpariksha_privacy.html"
                    class="small text-muted"
                    >Privacy policy</a
                  >
                </div>
              </div>

              <div
                class="card-body p-4 p-lg-5 text-black"
                id="forgot-password-form"
                ng-show="show"
              >
                <div
                  class="d-flex justify-content-center align-items-center mb-3 pb-1"
                >
                  <span class="h1 fw-bold mb-0">EduSyncity</span>
                </div>

                <h5 class="d-flex justify-content-center fw-normal mb-3 pb-3">
                  Forgot Password
                </h5>

                <form name="forgotPasswordForm" ng-submit="changePassword()">
                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="text"
                        id="fusername"
                        class="form-control form-control-lg"
                        ng-model="fusername"
                        name="fusername"
                        placeholder="fusername"
                        required
                      />
                      <label for="fusername">Username or Email</label>
                    </div>

                    <div
                      class="text-danger"
                      ng-if="forgotPasswordForm.fusername.$dirty && forgotPasswordForm.fusername.$invalid"
                      style="font-size: 14px"
                    >
                      <span
                        ng-if="forgotPasswordForm.fusername.$error.required"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; username
                        is required.
                      </span>
                      <span
                        ng-if="forgotPasswordForm.fusername.$error.fusername"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        username format.
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="password"
                        id="old-password"
                        class="form-control form-control-lg"
                        ng-model="oldPassword"
                        name="oldPassword"
                        placeholder="old password"
                        required
                      />
                      <label for="old-password">Old Password</label>
                    </div>

                    <div
                      class="text-danger"
                      ng-if="forgotPasswordForm.oldPassword.$dirty && forgotPasswordForm.oldPassword.$invalid"
                      style="font-size: 14px"
                    >
                      <span
                        ng-if="forgotPasswordForm.oldPassword.$error.required"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Old
                        Password is required.
                      </span>
                      <span
                        ng-if="forgotPasswordForm.oldPassword.$error.password"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        password format.
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="password"
                        id="new-password"
                        class="form-control form-control-lg"
                        ng-model="newPassword"
                        name="newPassword"
                        placeholder="new password"
                        required
                      />
                      <label for="new-password">New Password</label>
                    </div>

                    <div
                      class="text-danger"
                      ng-if="forgotPasswordForm.newPassword.$dirty && forgotPasswordForm.newPassword.$invalid"
                      style="font-size: 14px"
                    >
                      <span
                        ng-if="forgotPasswordForm.newPassword.$error.required"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; New
                        Password is required.
                      </span>
                      <span
                        ng-if="forgotPasswordForm.newPassword.$error.password"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        password format.
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="form-floating">
                      <input
                        type="password"
                        id="confirm-new-password"
                        class="form-control form-control-lg"
                        ng-model="confirmNewPassword"
                        name="confirmNewPassword"
                        placeholder="confirm new password"
                        required
                      />
                      <label for="confirm-new-password"
                        >Confirm New Password</label
                      >
                    </div>

                    <div
                      class="text-danger"
                      ng-if="forgotPasswordForm.confirmNewPassword.$dirty && forgotPasswordForm.confirmNewPassword.$invalid"
                      style="font-size: 14px"
                    >
                      <span
                        ng-if="forgotPasswordForm.confirmNewPassword.$error.required"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Confirm
                        New Password is required.
                      </span>
                      <span
                        ng-if="forgotPasswordForm.confirmNewPassword.$error.password"
                      >
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        password format.
                      </span>
                      <span ng-if="newPassword !=== confirmNewPassword">
                        <i class="bi bi-exclamation-circle"></i> &nbsp;
                        Passwords do not match.
                      </span>
                    </div>
                  </div>

                  <div class="pt-1 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-lg btn-block">
                      Reset Password
                    </button>
                  </div>
                </form>

                <div class="d-flex justify-content-center text-muted">
                  <button class="btn" ng-click="showForm()">Go Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
