<div class="container-fluid h-100">
  <div class="container py-4 h-100">
    <div class="col h-100 w-100 d-flex flex-column">
      <div class="row-3" style="background-color: #1e2125">
        <div class="p-5">
          <div class="d-grid gap-2" ng-show="!showParentForm">
            <button
              class="btn btn-lg"
              type="button"
              style="background-color: white; color: black"
              ng-click="toggleParentForm()"
            >
              Add parent
            </button>
          </div>
          <div class="formDiv" ng-show="showParentForm">
            <form ng-submit="addParent()" name="master">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-4 p-2">
                  <div class="col my-2 input-group">
                    <span class="input-group-text">Parent name</span>
                    <input
                      type="text"
                      class="form-control form-control-lg nofocus"
                      name="parent"
                      id="parent"
                      ng-model="parent"
                      required
                    />
                    <div
                      class="text-danger"
                      ng-if="master.parent.$dirty && master.parent.$invalid"
                      style="font-size: 12px"
                    >
                      <span ng-if="master.parent.$error.required">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Parent
                        is required.
                      </span>
                      <span ng-if="master.parent.$error.text">
                        <i class="bi bi-exclamation-circle"></i> &nbsp; Invalid
                        parent format.
                      </span>
                    </div>
                  </div>
                  <div class="col my-2 input-group">
                    <span class="input-group-text">Depth</span>
                    <input
                      type="number"
                      class="form-control form-control-lg nofocus"
                      name="depth"
                      id="depth"
                      ng-model="depth"
                      min="1"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    class="col mb-3 input-group d-flex justify-content-center"
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        ng-model="editable"
                        id="flexCheckDefault"
                        ng-true-value="true"
                        ng-false-value="false"
                      />
                      <label
                        class="form-check-label text-white fs-5"
                        for="flexCheckDefault"
                      >
                        Default checkbox
                      </label>
                    </div>
                  </div>
                  <div
                    class="col mt-3 input-group d-flex justify-content-center"
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        ng-model="deleteable"
                        id="flexCheckChecked"
                        ng-true-value="true"
                        ng-false-value="false"
                      />
                      <label
                        class="form-check-label text-white fs-5"
                        for="flexCheckChecked"
                      >
                        Checked checkbox
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    class="col my-2 input-group d-flex justify-content-center"
                  >
                    <button
                      type="submit"
                      class="btn"
                      style="background-color: white; color: black"
                    >
                      Submit
                    </button>
                  </div>
                  <div
                    class="col my-2 input-group d-flex justify-content-center"
                  >
                    <button
                      type="button"
                      class="btn"
                      style="background-color: white; color: black"
                      ng-click="toggleParentForm()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="row-7 flex-fill d-flex overflow-auto"
        style="background-color: #252f3e"
      >
        <div class="container d-flex justify-content-center text-white">
          <div class="row h-100 w-100">
            <div class="col-lg-6 p-0 d-flex flex-column">
              <div
                class="card m-2 mx-3 mb-4 mt-4 bg-dark text-white text-uppercase fs-4"
              >
                <div class="card-body text-center">
                  Childs &nbsp;<i class="bi bi-diagram-3"></i>
                </div>
              </div>
              <div class="input-group input-group-lg mt-2 p-2">
                <label class="input-group-text" for="courses">Parents</label>
                <select
                  class="form-select criteria-btn"
                  ng-change="getChild(selectedParent)"
                  ng-model="selectedParent"
                  ng-options="option.id as option.name for option in parents"
                ></select>
              </div>
              <div
                class="card m-2 mx-3 flex-fill"
                style="background-color: #252f3e; border: none"
              >
                <div class="list-group">
                  <a
                    type="button"
                    class="list-group-item list-group-item-action"
                    ng-repeat="child in childs"
                    data-bs-toggle="modal"
                    data-bs-target="#editChildModal"
                    ng-click="openModal(child)"
                    >{{child.name}}
                  </a>
                </div>
              </div>
              <div class="card mx-3 my-4">
                <button
                  id="addBtn"
                  class="btn card-body text-center"
                  ng-click="toggleAddChild()"
                  ng-show="!adding"
                >
                  Add Child
                </button>
                <div ng-show="adding">
                  <form ng-submit="addChild()">
                    <div class="input-group">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          id="addChild"
                          placeholder="Add child"
                          name="child"
                          required
                        />
                        <button
                          class="btn btn-outline-secondary custom-button"
                          type="submit"
                          ng-click="getSelCheckB(myCheckbox)"
                        >
                          Add
                        </button>
                        <button
                          class="btn btn-outline-secondary custom-button"
                          type="button"
                          ng-click="toggleAddChild()"
                        >
                          Cancel
                        </button>
                        <label for="addChild">Add child</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6 p-0">
              <div
                class="card mx-3 mb-4 mt-4 bg-dark text-white text-uppercase fs-4"
              >
                <div class="card-body text-center">Manage Parents</div>
              </div>
              <div class="card mt-3 mx-3">
                <div class="list-group">
                  <a
                    type="button"
                    class="list-group-item list-group-item-action"
                    ng-repeat="option in parents"
                    data-bs-toggle="modal"
                    data-bs-target="#editParentModal"
                    ng-click="openParentModal(option)"
                    >{{option.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editChildModal"
  tabindex="-1"
  aria-labelledby="editChildModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-4 text-center text-black pt-2"
          id="editChildModalLabel"
        >
          Manage Child
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form ng-submit="save(selectedChild)">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              ng-model="selectedChild.name"
              aria-label="Example text with two button addons"
              id="addInputField"
              disabled
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="edit()"
              ng-if="!editing"
            >
              Edit
            </button>
            <button
              class="btn btn-outline-secondary"
              type="submit"
              ng-click="editChild(selectedChild)"
              ng-if="editing"
            >
              Save
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="notEditing()"
              ng-if="editing"
            >
              Cancel
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="delete(selectedChild, 'editChildModal')"
              ng-if="!editing"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editParentModal"
  tabindex="-1"
  aria-labelledby="editParentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-4 text-center text-black pt-2"
          id="editParentModalLabel"
        >
          Manage Parent
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form ng-submit="editParent(selectedParent)">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              ng-model="parentName"
              placeholder="{{selectedParent.name}}"
              id="parentName"
              disabled
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="editParent(selectedParent)"
              ng-if="addParent"
            >
              Edit
            </button>
            <button
              class="btn btn-outline-secondary"
              type="submit"
              ng-click="saveParent(selectedParent)"
              ng-if="!addParent"
            >
              Save
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="cancelEditParent()"
              ng-if="!addParent"
            >
              Cancel
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="delParent(selectedParent, 'editParentModal')"
              ng-if="addParent"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
