<div class="container-fluid h-100">
  <div class="container pt-3 h-100">
    <div class="col h-100">
      <div class="row-3" style="background-color: #1e2125">
        <div class="input-group input-group-lg p-5">
          <label class="input-group-text" for="courses">Parents</label>
          <select
            class="form-select criteria-btn"
            ng-change="getChild(selectedParent)"
            ng-model="selectedParent"
            ng-options="option.id as option.name for option in options"
          >
            <option value="" selected>Select Parent</option>
          </select>
        </div>
      </div>
      <div
        class="row-9 h-75 d-flex overflow-auto"
        style="background-color: #252f3e"
      >
        <div class="container d-flex justify-content-center text-white">
          <div class="row h-100 w-100">
            <div class="col-lg-6 p-0 d-flex flex-column">
              <div
                class="card m-2 mx-3 mb-4 mt-4 bg-dark text-white text-uppercase fs-4"
              >
                <div class="card-body text-center">
                  Childs &nbsp;<i class="bi bi-diagram-3"></i>
                </div>
              </div>
              <div
                class="card m-2 mx-3 flex-fill"
                style="background-color: #252f3e; border: none"
              >
                <div class="list-group">
                  <a
                    type="button"
                    class="list-group-item list-group-item-action"
                    data-bs-toggle="modal"
                    data-bs-target="#editChildModal"
                    ng-click="openModal(child)"
                    ng-repeat="child in childs"
                    >{{child.name}}</a
                  >
                </div>
              </div>
              <div class="card mx-3 my-4">
                <button
                  id="addBtn"
                  class="btn card-body text-center"
                  ng-click="showInput()"
                  ng-if="!adding"
                >
                  Add Child
                </button>
                <div ng-if="adding">
                  <form ng-submit="addChild()">
                    <div class="input-group">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          id="addChild"
                          placeholder="Add child"
                          name="child"
                          required
                        />
                        <label for="addChild">Add child</label>
                      </div>
                      <button
                        class="btn btn-outline-secondary custom-button"
                        type="submit"
                      >
                        Add
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6 p-0">abcd</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editChildModal"
  tabindex="-1"
  aria-labelledby="editChildModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editChildModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form ng-submit="save(selectedChild)">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              ng-model="childName"
              placeholder="{{selectedChild.name}}"
              aria-label="Example text with two button addons"
              id="editInputField"
              disabled
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="edit()"
              ng-if="!editing"
            >
              Edit
            </button>
            <button
              class="btn btn-outline-secondary"
              type="submit"
              ng-click=""
              ng-if="editing"
            >
              Save
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="notEditing()"
              ng-if="editing"
            >
              Cancel
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              ng-click="delete(selectedChild, 'editChildModal')"
              ng-if="!editing"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
