<div class="container-fluid h-100">
  <div class="container py-3 h-100">
    <div
      class="row-3 d-flex flex-column justify-content-center align-items-center h-100"
      style="background-color: #252f3e"
    >
      <div class="col h-100 w-100 d-flex flex-column">
        <h1 class="text-center text-white pt-3 my-2">
          Exam Mapping <i class="bi bi-link-45deg"></i>
        </h1>

        <form action="" ng-submit="mapping()">
          <div class="row my-4 mx-auto g-2 w-100">
            <div class="col-md-4">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="selectedexamtype"
                  aria-label="Floating label select example"
                >
                  <option value="" disabled>
                    Select Exam-Type for mapping
                  </option>
                  <option
                    ng-repeat="option in examtype"
                    value="{{ option.id }}"
                    ng-click="Select(option)"
                  >
                    {{option.name }}
                  </option>
                </select>
                <label for="floatingSelect">Exam-Type</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="selectedDuration"
                  aria-label="Floating label select example"
                >
                  <option value="" disabled>Select Duration for mapping</option>
                  <option
                    ng-repeat="option in duration"
                    value="{{ option.id }}"
                    ng-click="Select(option)"
                  >
                    {{option.name}} min
                  </option>
                </select>
                <label for="floatingSelect">Duration</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="selectedmarks"
                  aria-label="Floating label select example"
                >
                  <option value="" disabled>Select Marks for mapping</option>
                  <option
                    ng-repeat="option in marks"
                    value="{{ option.id }}"
                    ng-click="Select(option)"
                  >
                    {{option.name }}
                  </option>
                </select>
                <label for="floatingSelect">Marks</label>
              </div>
            </div>
          </div>
          <div class="pt-1 d-flex justify-content-center my-2">
            <button type="submit" class="btn btn-dark btn-lg btn-block">
              Add Mapping
            </button>
          </div>
        </form>
        <div class="container overflow-x-auto">
          <table class="table mx-auto g-2 my-4 overflow-x-auto">
            <thead>
              <tr>
                <th class="text-center" scope="col" style="width: 10%">
                  Index
                </th>
                <th class="text-center" scope="col" style="width: 25%">
                  Exam Type
                </th>
                <th class="text-center" scope="col" style="width: 25%">
                  Duration
                </th>
                <th class="text-center" scope="col" style="width: 10%">
                  Marks
                </th>
                <th class="text-center" scope="col" style="width: 10%">Edit</th>
                <th class="text-center" scope="col" style="width: 10%">
                  Delete
                </th>
              </tr>
            </thead>
            <tbody ng-model="mappedexam">
              <tr ng-repeat="option in mapped">
                <td class="text-center" style="width: 10%">{{$index + 1}}</td>
                <td class="text-center" style="width: 25%">
                  {{option.exam_id__name}}
                </td>
                <td class="text-center" style="width: 25%">
                  {{option.duration_id__name }}
                </td>
                <td class="text-center" style="width: 10%">
                  {{option.marks_id__name}}
                </td>
                <td class="text-center" style="width: 10%">
                  <button
                    class="btn btn-outline-secondary"
                    ng-click="editModal(option, 'editModal')"
                  >
                    Edit
                  </button>
                </td>
                <td class="text-center" style="width: 10%">
                  <button
                    class="btn btn-outline-secondary"
                    ng-click="del(option)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm" ng-submit="edit('editModal')">
          <div class="row my-4 mx-auto g-2 w-100">
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="editDuration"
                  aria-label="Floating label select example"
                >
                  <option value="" disabled>Select Duration for mapping</option>
                  <option
                    ng-repeat="option in editdurationOption"
                    value="{{ option.id }}"
                    ng-click="Select(option)"
                  >
                    {{option.name}} min
                  </option>
                </select>
                <label for="floatingSelect">Duration</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="editMarks"
                  aria-label="Floating label select example"
                >
                  <option value="" disabled>Select Marks for mapping</option>
                  <option
                    ng-repeat="option in editmarksOption"
                    value="{{ option.id }}"
                    ng-click="Select(option)"
                  >
                    {{option.name }}
                  </option>
                </select>
                <label for="floatingSelect">Marks</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" form="editForm">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
