<div class="container-fluid h-100">
    <div class="container pt-3 h-100">
      <div class="col h-100">
        <div
          class="row-3 d-flex flex-column justify-content-center align-items-center"
          style="background-color: #252f3e"
        >
          <h1 class="text-center text-white pt-3">KIET Group Of Institutions</h1>
         
  
          <div class="d-flex justify-content-between p-3 w-100">
           
            <div class="input-group p-2 w-50">
              <label class="input-group-text" for="courses">Exam</label>
              <select
                class="form-select criteria-btn"
                ng-change="getChild(selectedParent)"
                ng-model="selectedParent"
                ng-options="option.id as option.name for option in options"
              >
                <option value="" selected>Select Exam</option>
              </select>
              
            </div>
            <div class="input-group p-2 w-50">
                <label class="input-group-text" for="courses">Subject</label>
                <select
                  class="form-select criteria-btn"
                  ng-change="getChild(selectedParent)"
                  ng-model="selectedParent"
                  ng-options="option.id as option.name for option in options"
                >
                  <option value="" selected>Select Subject</option>
                </select>
                
              </div>


             
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start</button>
               
            </div>
             
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3  id="staticBackdropLabel">Warning for the exam </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" >Time for your examination</label>
          
         
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
      
      

    </div>
  </div>
</div>
  
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content row-3 d-flex flex-column justify-content-center align-items-center"
      style="background-color: #252f3e">
       
        <div class="modal-header">
          
          <h1 class="modal-title fs-2 text-center text-white pt-2">KIET Group Of Institutions</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <p id="demo"></p>
        </div>
        <div class="modal-body">
         
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  data-bs-toggle="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  </div>